{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0,
    "react/jsx-closing-bracket-location": 0,
    "camelcase": 0,
    "default-case": 0,
    "comma-dangle": 0,
    "comma-style": [2, "first"],
    "consistent-return": 0,
    "no-new": 0,
    "prefer-template": 0,
    "quotes": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "semi": 0,
    "import/no-unresolved": 0,
    "max-len": [
      1,
      120,
      2, {
        "ignoreComments": true
      }
    ],
    "no-unused-expressions": "off",
    "arrow-body-style": "off",
    "prefer-const": [
      "error", {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "one-var": "off",
    "no-underscore-dangle": "off",
    "global-require": "off",
    "no-console": "off",
    "no-undef": 2,
    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [
      2,
      "never"
    ],
    "flowtype/generic-spacing": [
      2,
      "never"
    ],
    "flowtype/no-primitive-constructor-types": 0,
    "flowtype/no-weak-types": 0,
    "flowtype/object-type-delimiter": [
      0,
      "comma"
    ],
    "flowtype/require-parameter-type": 2,
    "flowtype/require-return-type": [
      0,
      "always", {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/semi": [
      2,
      "always"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/type-id-match": [
      2,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/union-intersection-spacing": [
      2,
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "react/display-name": [
    0, {
      "ignoreTranspilerName": true
    }
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "ActivityType": true,
    "originType": true,
    "ResponseType": true,
    "ResponseAfterToJSONType": true,
    "UserType": true,
    "basePropsType": true,
    "TrackType": true,
    "Action": true,
    "BrowseActionType": true,
    "BrowseMergeActionType": true,
    "BrowseSetInProcessfActionType": true,
    "BrowseSetNextHrefActionType": true,
    "RequestType": true,
    "PaginateActionType": true,
    "describe": true,
    "it": true,
    "expect": true,
    "shallow": true,
    "React": true,
    "mount": true,
    "render": true,
    "SC": true,
    "fetch": true,
    "assert": true,
    "beforeEach": true,
    "UserEntitiesType": true
    , "baseStateType": true
    , "ActivitiesPropsType": true
    , "ArtworkPropsType": true
  }
}