
body {
  background: $background;
  font: 400 13px 'CoreSans', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $fontColor;
  letter-spacing: 0.02rem;
  margin: ($padding*4) 2%;

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

a {
  color: $fontColor;
  text-decoration: none;

  &:hover {
    color: $hyperlinkHover;
  }
  &:active {
    color: $hyperlinkActive;
  }
  &:visited {
    color: $hyperlinkVisited;
  }

}

*, *:before, *:after {
  box-sizing: border-box;
}
button.inline{
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  padding: 0;
  font-size: inherit;
  cursor:pointer;
  &:focus{
    background: transparent;
  }
  &:hover{
    color:$mainColor;
  }
}
button.ghost {
  display: inline-block;
  border: 1px solid $mainColor;
  //height: $padding;
  line-height: $padding;
  color: $mainColor;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background-color: $mainColor;
  }

  &:focus {
    outline: none;
  }
}












