.comments {
  display: flex;
  flex: 1 1 90%;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  border: $border;
  height: 0;
  &-item {
    display: flex;
    flex: 1 1;
    border-bottom: $darkBorder;
    justify-content: flex-start;
    align-items: center;
    &-body {
      display: flex;
      flex: 1;
      text-indent: 20px;
    }
    &-meta {

    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    margin: $padding;
    height: initial;
    
  }
}
