.comments {
  display: flex;
  flex: 1 1 90%;
  opacity: 0;
  visibility: hidden;
  width:100%;
  flex-direction: column;
  &-item {
    display: flex;
    flex: 1 1;
    border-bottom: $darkBorder;
    &-content {
      display: flex;
      flex: 1;
    }
    &-meta {

    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    margin: $padding;
  }
}
