.list {

  transition: height .5s;
  transition-timing-function: ease;
  i.fa-chevron-up, i.fa-chevron-down {
    opacity: 0;
    transition: opacity 0.2s;
    transition-timing-function: ease;
  }

  &:hover i {
    opacity: 1;
  }
  &-content {
    height: $padding*8;
    overflow: hidden;
    background: $backgroundSecondary;

    li {
      border-bottom: $darkBorder;
      display: flex;
      flex-wrap: wrap;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .more-visible &-content {
    height: 100%;
  }
  &-actions {
    margin: ($padding/2) auto;
  }
}