.mini-track{
        display: flex; 
        border-bottom:$darkBorder;
        height: 40px;
        overflow: hidden;
        &:hover &-content-action{
            opacity: 1;
            margin: auto ($padding/2);
            
        }
        &-img{
            cursor:pointer;
            
        }

        &-content{
            width: 100%;
            padding: $padding/2;
            background: $nav;
            position: relative;
            display: flex;
            &-action{
                transition:all 0.2s;
                transition-timing-function: ease;
                opacity: 0;
                display: flex;

                i{
                    margin: 0;
                    cursor:pointer;
                    font-size: 15px;
                    &:hover{
                        color:$mainColor;
                     }
                }
            }  
         }

        .active-track &-content-action{
            opacity: 1;
            margin: auto ($padding/2)
        }
}