.mini-track{
        display: flex; 
        border-bottom:$border;
        height: 40px;
        overflow: hidden;
        &:hover &-action{
            opacity: 1;
            margin: auto ($padding/2);
            
        }
        &-img{
            cursor:pointer;
            
        }

        &-content{
            width: 100%;
            height: 20px;
            padding: $padding/2;
            background: $nav;
           
        }

        &-action{
            transition:all 0.2s;
            transition-timing-function: ease;
            opacity: 0;
            
            i{
                cursor:pointer;
                font-size: 15px;
                &:hover{
                    color:$mainColor;
                }
            }
        }

        .active-track &-action{
            opacity: 1;
            margin: auto ($padding/2)
        }
}