.mini-track {
  display: flex;
  border-bottom: $darkBorder;
  height: 40px;
  overflow: hidden;
  &:hover .action {
    opacity: 1;
    margin: auto ($padding/2);

  }
  &-img {
    cursor: pointer;
  }

  &-content {
    padding: $padding/8;
    background: $nav;
    position: relative;
    display: flex;
    flex-grow: 2;
    &-name {
      display: flex;
      align-items: center;
      flex: 3;
    }
  }

  .active-track .action {
    opacity: 1;
    margin: auto ($padding/4)
  }
}