.playlist {
  position: fixed;
  background: $nav;
  right: 10%;
  bottom: $padding*3;
  width: $padding*18;
  height: $padding*15;
  border: $darkBorder;
  overflow: scroll;
  opacity: 0;
  display: flex;
  transition: height 0.2s;
  transition-timing-function: ease;
  pointer-events: none;
  flex-direction: column;
  &-visible {
    opacity: 1;
    pointer-events: all;
  }
  &-menu {
    display: flex; 
    font-size: $menuSize;
    border-bottom: $darkBorder;
    padding:$padding/2;
    justify-content: space-between;
  }
  &-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    // margin-left: 25%;
  }
}