
.track {
  display: flex;
  margin: ($padding/2) 0;
  background: $backgroundSecondary;
  border:$border;
  &-content {
    width: 100%;
    height: 80px;
    padding: ($padding/2);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    &-waveform {
      opacity: 0.2;
      pointer-events: none;
      margin: ($padding/8) 0;

      &-json {
        width: 90%;
        height: 40px;
      }

    }
    &-info {
      width: 100%;
      left: $padding/2;
      display: flex;
      &-item {
        flex: 1;
      }
    }
  }

  &-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    margin: 0;
    transition: all 0.2s;

    &-item {
      i {
        font-size: 20px;
        cursor: pointer;
      }
      &:hover {
        color: $mainColor;
      }
    }
  }

  &:hover .track-actions {
    opacity: 1;
    margin: 0 ($padding/2);
  }
  &:hover .track-content-waveform {
    opacity: 1;
  }
  &:hover .track-content-info {
    opacity: 1;
  }
}