.user-mosaic {

  transition: height .5s;
  transition-timing-function: ease;
  i {
    opacity: 0;
    transition: opacity 0.2s;
    transition-timing-function: ease;
  }

  &:hover i {
    opacity: 1;
  }
  &-content {
    height: $padding*5;
    overflow: hidden;
    ul, li, a {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .more &-content {
    height: 100%;
  }
  &-actions {
    margin: ($padding/2) auto
  }
}